<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <button ion-button full (click)="recognizeImage()">Read text from picture</button>

  <img [src]="currentImage" *ngIf="currentImage">

  <ion-card-header></ion-card-header>

  <ion-card *ngIf="loading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-card>
    <ion-card>
    <p> <strong>Text: </strong> {{ imageText }}</p>
    </ion-card>


</ion-content>
